@charset "UTF-8";
/* incluí el extend en la mediaquery donde lo utilizo por que SASS
de lo contrario no lo compila */
@media only screen and (min-width: 992px) {
  .contenedorImagenesPortada img:hover, .contenedorImagenesProductos img:hover, .contenedorImagenesTapizados img:hover {
    z-index: 100;
    box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.4);
    -webkit-box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.4);
    -moz-box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.4); } }

body {
  font-family: "Mulish", sans-serif;
  background: linear-gradient(to right, #43576b, #bdc3c6);
  overflow: scroll;
  position: relative;
  min-height: 100vh; }

p {
  font-weight: 600;
  font-size: 15pt;
  line-height: 1.4; }

.subTitulo {
  display: flex;
  justify-content: left;
  font-family: "Cormorant Garamond", serif;
  font-size: 200%;
  text-decoration: underline;
  font-weight: 300;
  margin-bottom: 1%; }

.tituloH3 {
  display: flex;
  justify-content: left;
  font-family: "Cormorant Garamond", serif;
  font-size: 150%;
  text-decoration: underline;
  font-weight: 600;
  margin-bottom: 2%;
  margin-top: 2.5%; }

header {
  background-color: #3c5e6e48;
  color: #ffffff;
  font-family: "Cormorant Garamond", serif; }

.nav-link {
  color: #ffffff;
  font-size: 22px; }

footer {
  margin-top: 5px; }
  footer li {
    margin: 10px 0px;
    list-style: none; }

.footerli {
  width: 25%;
  display: flex;
  justify-content: center; }

.icono {
  color: rgba(255, 255, 255, 0.5); }

.icono:hover {
  color: white; }

.icono svg {
  height: 32px;
  width: auto; }

.footerMedidas {
  position: absolute;
  bottom: 0; }

@media only screen and (min-width: 992px) {
  footer {
    position: fixed;
    bottom: 0; }
  .footerFit {
    width: fit-content; } }

.subTituloPortada {
  display: flex;
  justify-content: center;
  font-family: "Cormorant Garamond", serif;
  font-size: 200%;
  text-decoration: underline;
  font-weight: 300;
  margin-bottom: 1.5%;
  margin-top: 1%; }

.contenedorImagenesPortada {
  gap: 20px; }
  .contenedorImagenesPortada img {
    width: 100%;
    max-width: 500px;
    margin-bottom: 5px;
    border-radius: 7px;
    padding: 0;
    box-shadow: 0px 20px 35px rgba(0, 0, 0, 0.5); }

@media only screen and (min-width: 992px) {
  .contenedorImagenesPortada img {
    transition: all 0.5s; }
    .contenedorImagenesPortada img:hover {
      transform: scale(1.1, 1.1); } }

.tituloPortada {
  text-decoration: none;
  color: #ffffff; }
  .tituloPortada :hover {
    color: #ffffff70; }

.contenedorImagenesProductos {
  display: flex;
  justify-content: left; }
  .contenedorImagenesProductos img {
    width: 100%;
    max-width: 230px;
    margin-bottom: 5px;
    border-radius: 6px;
    padding: 0;
    box-shadow: 0px 15px 25px rgba(0, 0, 0, 0.5); }

@media only screen and (min-width: 992px) {
  .contenedorImagenesProductos img {
    transition: all 1s; }
    .contenedorImagenesProductos img:hover {
      transform: scale(1.25, 1.25); } }

.contenedorImagenesTapizados {
  display: flex;
  justify-content: center; }
  .contenedorImagenesTapizados img {
    width: 100%;
    max-width: 417px;
    margin-bottom: 5px;
    border-radius: 6px;
    padding: 0;
    box-shadow: 0px 15px 25px rgba(0, 0, 0, 0.5); }

@media only screen and (min-width: 992px) {
  .contenedorImagenesTapizados img {
    transition: all 1s; }
    .contenedorImagenesTapizados img:hover {
      transform: scale(1.5, 1.5); }
  .tituloH3Tapizados {
    display: none; } }

.enviarForm {
  border-color: #778186;
  background-color: #43576b;
  display: flex;
  justify-content: center; }
  .enviarForm:hover {
    background-color: #778186;
    border-color: #43576b; }

/* PARTIAL MEDIDAS: Partial creado por futuras modificaciones / no requerido en esta version */
