.subTituloPortada {
  display: flex;
  justify-content: center;
  font-family: "Cormorant Garamond", serif;
  font-size: map-get($tamanoTexto, subTitulo);
  text-decoration: underline;
  font-weight: 300;
  margin-bottom: 1.5%;
  margin-top: 1%;
}

.contenedorImagenesPortada {
  gap: 20px;

  & img {
    @include contenedorImg (500px, 7px, 0px 20px 35px rgba(0, 0, 0, 0.5));
  }
}

@media only screen and (min-width: 992px) {
  .contenedorImagenesPortada img {
    transition: all 0.5s;

    &:hover {
      transform: scale(1.1, 1.1);
      @extend %imgEfect;
    }
  }
}
